<article class="contact active">
  <header>
    <h2 class="h2 article-title">Contact</h2>
  </header>

  <section class="mapbox">
    <figure>
        <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d972.2245366831899!2d77.61114846913898!3d12.914267428205012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1766533183850!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </figure>
  </section>

  <section class="contact-form">
    <h3 class="h3 form-title">Contact Form</h3>

    <form (ngSubmit)="sendMessage()" class="form" [formGroup]="contactForm">
      <div class="input-wrapper">
        <div>
          <!-- name input -->
          <input type="text" formControlName="fullName" class="form-input" placeholder="Full name" />

          <!-- validation error -->
          @if (isFormSubmit() && contactForm.controls['fullName'].errors) {
            <div class="error-msg">* Enter your full name.</div>
          }
        </div>

        <div>
          <!-- email input -->
          <input type="email" formControlName="email" class="form-input" placeholder="Email address" />
          <!-- validation error -->
          @if (isFormSubmit() && contactForm.controls['email'].errors) {
            <div class="error-msg">* Enter your valid email address.</div>
          }
        </div>
      </div>

      <!-- messaage input -->
      <textarea formControlName="message" class="form-input" placeholder="Your Message"></textarea>
      @if (isFormSubmit() && contactForm.controls['message'].errors) {
        <div class="error-msg">* Enter your message.</div>
      }

      <!-- submit button -->
      <button class="form-btn" type="submit">
        <ion-icon name="paper-plane" />
        <span>Send Message</span>
      </button>
    </form>
  </section>
</article>
